html {
    color: rgb(130, 183, 213);
    font-family: Mono, serif;
    font-size: 1.5rem;
}

body {
    background: rgb(17, 13, 34);
    width: 600px;
    height: 600px;
    margin: auto;
}

h1 {
    text-align: center;
}

.quiz-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

.flash-card {
    height: 190px;
    width: 190px;
    background: rgb(148, 120, 191);
    text-align: center;
    border: 1px solid black;
    margin-bottom: 2%;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    transition: all 2s ease;
    transform-style: preserve-3d;
}

.flash-card:hover {
    transform: rotateY(180deg);
    background-color: rgb(130, 183, 213);

}

.front .back {
    position: absolute;
}

.back {
    transform: rotateY(180deg);

}

.front {
    backface-visibility: hidden;
}













